<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Django Login Application | {% block title %}{% endblock %}
    </title>

    {% include 'website/base_site/base_head_import.html' %}
    <style type="text/css">
    body {
      width: 500px;
      margin: 0 auto;
    }
    .infinite-item, .loading {
      margin-bottom: 5px;
      background-color: #1eaedb;
      color: #fff;
      text-align: center;
      padding: 25px 0;
    }
    .loading {
      background-color: #333;
    }

    </style>
    {% block extrastyle %}
    {% endblock %}

</head>

<body>
<h1>{% block head %}{% endblock %}</h1>

{% block body_content %}
{% endblock body_content %}
{% include 'website/base_site/base_footer_import.html' %}
</body>

</html>